[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagster-webserver = "*"
dagster-docker = "*"
dagster-graphql = "*"
dagster-postgres = "*"
dagster-celery = "*"
dagster-aws = "*"
nats-py = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
dagster_module = {editable = true, path = "."}


[dev-packages]

[requires]
python_version = "3.10"
